@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary_color: #EF6262;
  --secondary_color: #1D5B79;
  --bg_color: #91C8E4;
  --alt_bg-color: #F6F4EB;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: var(--bg_color);
}

.container {
  width: 1280px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--alt_bg-color);
}

.btn {
  cursor: pointer;
  border-radius: 8px;
  &.primary {
    padding: 32px;
    border: none;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    background: var(--primary_color);
    text-align: center;
    &:active {
      padding: 30px;
      margin: 2px;
    }
  }
}

.product-card {
  .product-card-img {
    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 4/3;
    }
  }
}
